[Unit]
Description=Epsilon Full Node
After=network-online.target

[Service]
User=epsilon
Group=epsilon
WorkingDirectory=~
StateDirectory=epsilon
LogsDirectory=epsilon

Type=simple
ExecStart=/usr/bin/epsilond --config-file /etc/epsilond.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
